/* styling page of logIn*/
.logIn{
    width: 20%;
    border: 1px solid black;
    margin: 5% auto;
    padding: 2%;
}
.text-center{
    text-align: center;
}
.btn-primary{
    background-color:#1e90ff;
    padding:1%;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover{
    background-color:#1B1464
}
.success{
    color:#2ed573
}
.error{
    color:#ff4757
}